* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    
}

[class*=col-] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-1 {
    flex-basis: calc((100% / 12) * 1);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}




/*OFFSET*/
.col_offset-1 {
    flex-basis: calc((100% / 12) * 1);
}

.col_offset-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col_offset-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col_offset-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col_offset-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col_offset-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col_offset-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col_offset-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col_offset-9 {
    flex-basis: calc((100% / 12) * 9);
}

.col_offset-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col_offset-11 {
    flex-basis: calc((100% / 12) * 11);
}

.col_offset-12 {
    flex-basis: calc((100% / 12) * 12);
}

/*OFFSET*/


