.row {
    background-color: rgb(35, 255, 182);
}

[class*=col-] {
    background-color: #006cfa;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.white {
    color: white;
}