
[class*=col-] {
    background-color: #006cfa;
    border: 1px solid white;
    padding: 1rem;
}

.white {
    color: white;
}

.white-container {
    height: 1rem;
    width: 100%;
    font-weight: 600;
    background-color: transparent;
}

.green {
    background-color: greenyellow;
}

.nested {
    padding: 1rem;
}

