
[class*=col-] {
    background-color: #006cfa;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.white {
    color: white;
}

.white-container {
    height: 1rem;
    width: 100%;
    font-weight: 600;
    background-color: transparent;
}